<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">


  <!-- bootstrap icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

</head>

<body class="bg-custom">


  <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-cor">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="css/img/logo.png" alt="AquaLife" width="130"> </a>


      <div class="ms-auto">
        <a href="inicio.html" class="btn btn-outline btn-sm" style="color: #2F4156;">Voltar</a>
      </div>
    </div>
  </nav>


  <!-- login -->
  <main class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">


        <div class="card shadow-sm">
          <div class="card-header text-center">
            <h4 class="mb-0">Entrar</h4>
          </div>


          <div class="card-body">
            <form>


              <!-- email -->
              <div class="mb-3">
                <label class="form-label">email</label>
                <input type="email" class="form-control" placeholder="seu@email.com">
              </div>


              <!-- senha -->
              <div class="mb-3">
                <label class="form-label">senha</label>
                <input type="password" class="form-control" placeholder="********">
              </div>


              <!-- lembrar -->
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="lembrar">
                <label class="form-check-label" for="lembrar">
                  lembrar de mim
                </label>
              </div>


              <!-- botão -->
              <div class="d-grid">
                    <a href="inicio.html" class="btn btn-outline-primary">
                    <i class="bi bi-box-arrow-in-right"></i> entrar</a>
            </div>



            </form>


            <hr>


            <div class="text-center">
              <small>
                não tem conta?
                <a href="#">criar agora</a>
              </small>
            </div>
          </div>
        </div>


      </div>
    </div>
  </main>


  <!-- footer -->
  <footer class="footer-cor text-center py-3 mt-5">
    <div class="container text-center">
      <small>© AquaLife</small>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
